.landing {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #f0f8ff;
}

.landing h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.landing p {
    font-size: 1.2rem;
    color: #555;
    max-width: 600px;
    line-height: 1.5;
}
